body[data-theme="light"] {
  --colors-primary: #ff0014;
  --colors-background: white;
  --text-color: #000;
  --card-background: rgba(0, 0, 0, 0.75);
}
body[data-theme="dark"] {
  --colors-primary: #faa831;
  --colors-background: black;
  --text-color: #fff;
  --card-background: rgba(255, 255, 255, 0.75);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  margin: 10px auto;
  overflow-x: hidden;
  background-color: var(--colors-background);
}

.card-layout {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 16px 0;
  flex-wrap: wrap;
  justify-content: center;
}
.card-item {
  min-width: 22%;
  max-width: 22%;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid var(--text-color);
  padding: 8px 12px;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.35rem var(--card-background);
  color: var(--text-color);
}

@media (max-width: 640px) {
  .card-layout {
    gap: 6px;
  }
  .card-item {
    min-width: 40%;
    max-width: 40%;
  }
}

.card-item h3 {
  text-align: center;
  text-transform: uppercase;
}

.card-item h4,
.card-item h5 {
  text-align: left;
  text-transform: capitalize;
  word-wrap: break-word;
}

.w-100 {
  min-width: 100vw;
  text-align: center;
}
.lds-dual-ring {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px solid var(--colors-primary);
  border-color: var(--colors-primary) transparent var(--colors-primary)
    transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-text {
  color: var(--colors-primary);
  font-weight: 700;
  text-transform: uppercase;
}

input {
  border-radius: 4px;
  border: 1.5px solid #222;
  padding: 8px;
}
